:where(:root) {
  --gray-0: hsl(0deg 0 100%);
  --gray-1: hsl(0deg 0 92%);
  --gray-10: hsl(0deg 0 17%);
  --gray-11: hsl(0deg 0 8%);
  --gray-12: hsl(0deg 0 0%);
  --gray-2: hsl(0deg 0 83%);
  --gray-3: hsl(0deg 0 75%);
  --gray-4: hsl(0deg 0 67%);
  --gray-5: hsl(0deg 0 58%);
  --gray-6: hsl(0deg 0 50%);
  --gray-7: hsl(0deg 0 42%);
  --gray-8: hsl(0deg 0 33%);
  --gray-9: hsl(0deg 0 25%);
  --pink-0: hsl(328deg 100% 97%);
  --pink-1: hsl(328deg 100% 94%);
  --pink-10: hsl(320deg 73% 23%);
  --pink-11: hsl(320deg 73% 15%);
  --pink-12: hsl(322deg 73% 6%);
  --pink-2: hsl(328deg 100% 88%);
  --pink-3: hsl(327deg 100% 82%);
  --pink-4: hsl(327deg 100% 76%);
  --pink-5: hsl(327deg 100% 70%);
  --pink-6: hsl(320deg 100% 58%);
  --pink-7: hsl(320deg 72% 50%);
  --pink-8: hsl(320deg 72% 41%);
  --pink-9: hsl(320deg 72% 32%);
  --purple-0: hsl(256deg 100% 97%);
  --purple-1: hsl(256deg 100% 94%);
  --purple-10: hsl(253deg 73% 23%);
  --purple-11: hsl(253deg 73% 15%);
  --purple-12: hsl(254deg 73% 6%);
  --purple-2: hsl(256deg 100% 88%);
  --purple-3: hsl(255deg 100% 83%);
  --purple-4: hsl(255deg 100% 77%);
  --purple-5: hsl(255deg 100% 71%);
  --purple-6: hsl(252deg 100% 58%);
  --purple-7: hsl(253deg 72% 50%);
  --purple-8: hsl(253deg 72% 41%);
  --purple-9: hsl(253deg 72% 32%);
}
