---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  useDefaultEditableBinding = false,
  class: className,
  style: userStyle,
  columnSpan = 4,
  rowSpan = 1,
  _component,
  "data-children-prop": childrenDataProp,
  ...htmlAttributes
} = Astro.props;

const effectiveChildrenProp =
  childrenDataProp ?? (useDefaultEditableBinding ? "contentSections" : null);
const arrayDataAttributes = effectiveChildrenProp
  ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
  : {};
---

<div
  class:list={["bento-box-grid-item", className]}
  {...htmlAttributes}
>
  <div
    class="bento-box-grid-item-content"
    style={`--column-span: ${columnSpan}; --row-span: ${rowSpan}; ${userStyle ?? ""}`}
    {...arrayDataAttributes}
  >
    <slot>
      {
        contentSections && (
          <RenderBlock
            contentSections={contentSections}
            useDefaultEditableBinding={!!effectiveChildrenProp}
          />
        )
      }
    </slot>
  </div>
</div>

<style is:global>
  @layer components {
    .bento-box-grid-item {
      display: contents;
    }

    .bento-box-grid-item > .bento-box-grid-item-content {
      container-type: inline-size;
      grid-column: 1 / -1;
      grid-row: span var(--row-span, 1);
      padding: var(--spacing-sm);
      height: 100%;

      @media (width >= 768px) {
        grid-column: span var(--column-span, 4);
      }
    }

    .bento-box-grid-item > .bento-box-grid-item-content > *:only-child {
      height: 100%;
    }

    .bento-box-grid-item > .bento-box-grid-item-content > *:first-child {
      margin-top: 0 !important;
    }
  }
</style>
