---
import Side from "@components/navigation/side/Side.astro";
import ThemeToggle from "@components/navigation/theme-toggle/ThemeToggle.astro";
import Button from "@core-elements/button/Button.astro";
import Image from "@core-elements/image/Image.astro";
import navData from "../data/nav.json";
import { generateNavData } from "../utils/navGenerator.js";

const sideNavData = await generateNavData(navData);
---

<div class="library-sidebar">
  <div class="sidebar-logo-container">
    <Image
      source="/src/assets/images/component-docs/acs-logo.svg"
      alternateSource="/src/assets/images/component-docs/acs-logo-dark.svg"
      alt="Astro Component Starter"
      class="sidebar-logo"
    />
    <Button
      variant="ghost"
      size="sm"
      iconName="arrow-right"
      iconPosition="after"
      text="Back to site"
      link="/"
    />
  </div>
  <Side navData={sideNavData} />
  <div class="sidebar-footer">
    <ThemeToggle />
  </div>
</div>

<style is:global>
  .sidebar-logo-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    .sidebar-logo {
      flex: 1;
      margin-top: 0;
      max-width: 138px;

      img {
        height: 2rem;
        width: auto;
      }
    }

    .button {
      position: relative;
      top: 7px;
    }
  }

  .sidebar-footer {
    margin-top: auto;
    padding-block: var(--spacing-md);
  }
</style>
